In [203]:
##Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

import pandas as pd
import numpy as np
df = pd.read_csv('Laliga.csv',index_col=0)
df.replace('-',np.NaN,inplace=True)
df.columns=df.iloc[0] ##Setting the attributes row
df.columns
df=df[1:]
df

Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,NaN,NaN,4,5,2,5,16,1929,1994-95,3
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,NaN,1,4,5,4,4,18,1939-40,2012-13,2
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,NaN,2,3,4,4,14,1932-33,2015-16,1
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,NaN,1,12,1941-42,2014-15,1
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,NaN,NaN,NaN,2,4,5,11,1939-40,2012-13,4
13,Valladolid,42,1471,1466,463,384,619,1767,2180,NaN,NaN,NaN,1,1,1,3,1948-49,2013-14,4
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,NaN,1,1,2,NaN,1,5,1929,2011-12,2
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,NaN,1,1,2,2,1,7,1944-45,2015-16,2
16,Osasuna,37,1351,1318,426,327,565,1500,1834,NaN,NaN,NaN,2,2,2,6,1935-36,2016-17,4
17,Malaga,36,1314,1255,390,330,535,1421,1763,NaN,NaN,NaN,1,NaN,1,2,1949-50,2008-09,4
18,Oviedo,38,1174,1192,408,292,492,1642,1951,NaN,NaN,3,2,2,4,11,1933-34,2000-01,3
19,Mallorca,27,1148,988,333,256,399,1182,1371,NaN,NaN,2,NaN,2,1,5,1960-61,2012-13,3
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,NaN,1,1,1,1,1,5,1951-52,2015-16,2
21,Villarreal,17,970,646,266,172,208,892,789,NaN,1,1,2,3,2,9,1998-99,2013-14,2
22,Granada,23,667,742,218,175,349,819,1157,NaN,NaN,NaN,NaN,NaN,2,2,1941-42,2016-17,6
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1977-78,2015-16,8
24,Elche,21,606,678,203,180,295,750,1022,NaN,NaN,NaN,NaN,1,1,2,1959-60,2014-15,5
25,Getafe,12,553,456,147,112,197,520,633,NaN,NaN,NaN,NaN,NaN,1,1,2004-05,2015-16,6
26,Hercules,20,538,628,184,149,295,716,1050,NaN,NaN,NaN,NaN,1,4,5,1935-36,2010-11,5
27,Tenerife,13,510,494,155,128,211,619,744,NaN,NaN,NaN,NaN,2,NaN,2,1961-62,2009-10,5
28,Murcia,18,445,586,145,143,298,607,992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940-41,2007-08,11
29,Alaves,12,421,380,125,81,174,458,623,NaN,NaN,NaN,NaN,NaN,1,1,1930-31,2016-17,6
30,Levante,11,416,402,113,95,194,430,632,NaN,NaN,NaN,NaN,NaN,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Sabadell,14,353,426,129,95,202,492,720,NaN,NaN,NaN,1,1,NaN,2,1943-44,1987-88,4
33,Cadiz,12,343,448,104,127,217,393,662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1977-78,2005-06,12
34,Logrones,9,293,346,96,92,158,291,489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1987-88,1996-97,7
35,Castellon,11,285,334,103,79,152,419,588,NaN,NaN,NaN,1,2,NaN,3,1941-42,1990-91,4
36,Albacete,7,277,270,76,76,118,320,410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1991-92,2004-05,7
37,Almeria,6,242,228,62,56,110,244,366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-08,2014-15,8
38,Cordoba,9,230,282,82,63,137,285,430,NaN,NaN,NaN,NaN,1,NaN,1,1962-63,2014-15,5
39,Compostela,4,190,160,52,45,63,199,241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994-95,1997-98,10
40,Recreativo,5,188,186,50,46,90,202,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978-79,2008-09,8
41,Burgos CF,6,168,204,59,50,95,216,310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1971-72,1979-80,12
42,Pontevedra,6,150,180,53,44,83,165,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1963-64,1969-70,7
43,Numancia,4,148,152,37,37,78,155,253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-00,2008-09,17
44,Eibar,3,132,114,35,27,52,139,167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-15,2014-15,10
45,Arenas,7,107,130,43,21,66,227,308,NaN,NaN,1,NaN,3,NaN,4,1929,1934-35,3
46,Real Burgos,3,96,114,26,44,44,101,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-91,1992-93,9
47,Gimnastic,4,91,116,34,16,66,181,295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1947-48,2006-07,7
48,Extremadura,2,83,80,20,23,37,62,117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996-97,1998-99,17
49,Merida,2,81,80,19,24,37,70,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995-96,1997-98,19
50,Alcoyano,4,76,108,30,16,62,145,252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1945-46,1950-51,10
51,Jaen,3,71,90,29,13,48,121,183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1953-54,1957-58,14
52,Real Union,4,56,72,21,14,37,153,184,NaN,NaN,NaN,NaN,NaN,1,1,1929,1931-32,6
53,AD Almeria,2,52,68,17,18,33,71,116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1979-80,1980-81,10
54,Europa,3,42,54,18,6,30,97,131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1929,1930-31,8
55,Lleida,2,40,68,13,14,41,70,182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950-51,1993-94,16
56,Leganes,1,35,38,8,11,19,36,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-17,2016-17,17
57,Xerez,1,34,38,8,10,20,38,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-10,2009-10,20
58,Condal,1,22,30,7,8,15,37,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1956-57,1956-57,16
59,Atletico Tetuan,1,19,30,7,5,18,51,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1951-52,1951-52,16
60,Cultural Leonesa,1,14,30,5,4,21,34,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1955-56,1955-56,15
61,Girona,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-18,2017-18,9

In [202]:
##Print all the teams which have started playing between 1930-1980.

df[['Team','Debut']]
x=df[df['Debut']>str(1929)]  ##x represents the teams who've appeared after 1929
y=x[x['Debut']<str(1980)]    ##y represents the teams who've appeared after 1929 but before 1929 
print(y)

Pos                 Team Seasons Points GamesPlayed GamesWon GamesDrawn  \
4               Valencia      82   3386        2664     1187        616
6                Sevilla      73   2819        2408      990        531
9               Zaragoza      58   2109        1986      698        522
10            Real Betis      51   1884        1728      606        440
11   Deportivo La Coruna      45   1814        1530      563        392
12            Celta Vigo      51   1789        1698      586        389
13            Valladolid      42   1471        1466      463        384
15        Sporting Gijon      43   1389        1458      471        358
16               Osasuna      37   1351        1318      426        327
17                Malaga      36   1314        1255      390        330
18                Oviedo      38   1174        1192      408        292
19              Mallorca      27   1148         988      333        256
20            Las Palmas      33   1020        1096      367        242
22               Granada      23    667         742      218        175
23        Rayo Vallecano      17    662         652      189        148
24                 Elche      21    606         678      203        180
26              Hercules      20    538         628      184        149
27              Tenerife      13    510         494      155        128
28                Murcia      18    445         586      145        143
29                Alaves      12    421         380      125         81
30               Levante      11    416         402      113         95
31             Salamanca      12    375         423      123        102
32              Sabadell      14    353         426      129         95
33                 Cadiz      12    343         448      104        127
35             Castellon      11    285         334      103         79
38               Cordoba       9    230         282       82         63
40            Recreativo       5    188         186       50         46
41             Burgos CF       6    168         204       59         50
42            Pontevedra       6    150         180       53         44
47             Gimnastic       4     91         116       34         16
50              Alcoyano       4     76         108       30         16
51                  Jaen       3     71          90       29         13
53            AD Almeria       2     52          68       17         18
55                Lleida       2     40          68       13         14
58                Condal       1     22          30        7          8
59       Atletico Tetuan       1     19          30        7          5
60      Cultural Leonesa       1     14          30        5          4

Pos GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
4         861     4398         3469        6         6    10     11    10
6         887     3680         3373        1         4     4      5    12
9         766     2683         2847      NaN         1     4      5     4
10        682     2159         2492        1       NaN     2      3     4
11        575     2052         2188        1         5     4      1   NaN
12        723     2278         2624      NaN       NaN   NaN      2     4
13        619     1767         2180      NaN       NaN   NaN      1     1
15        629     1753         2152      NaN         1     1      2     2
16        565     1500         1834      NaN       NaN   NaN      2     2
17        535     1421         1763      NaN       NaN   NaN      1   NaN
18        492     1642         1951      NaN       NaN     3      2     2
19        399     1182         1371      NaN       NaN     2    NaN     2
20        487     1347         1746      NaN         1     1      1     1
22        349      819         1157      NaN       NaN   NaN    NaN   NaN
23        305      760         1088      NaN       NaN   NaN    NaN   NaN
24        295      750         1022      NaN       NaN   NaN    NaN     1
26        295      716         1050      NaN       NaN   NaN    NaN     1
27        211      619          744      NaN       NaN   NaN    NaN     2
28        298      607          992      NaN       NaN   NaN    NaN   NaN
29        174      458          623      NaN       NaN   NaN    NaN   NaN
30        194      430          632      NaN       NaN   NaN    NaN   NaN
31        198      422          581      NaN       NaN   NaN    NaN   NaN
32        202      492          720      NaN       NaN   NaN      1     1
33        217      393          662      NaN       NaN   NaN    NaN   NaN
35        152      419          588      NaN       NaN   NaN      1     2
38        137      285          430      NaN       NaN   NaN    NaN     1
40         90      202          296      NaN       NaN   NaN    NaN   NaN
41         95      216          310      NaN       NaN   NaN    NaN   NaN
42         83      165          221      NaN       NaN   NaN    NaN   NaN
47         66      181          295      NaN       NaN   NaN    NaN   NaN
50         62      145          252      NaN       NaN   NaN    NaN   NaN
51         48      121          183      NaN       NaN   NaN    NaN   NaN
53         33       71          116      NaN       NaN   NaN    NaN   NaN
55         41       70          182      NaN       NaN   NaN    NaN   NaN
58         15       37           57      NaN       NaN   NaN    NaN   NaN
59         18       51           85      NaN       NaN   NaN    NaN   NaN
60         21       34           65      NaN       NaN   NaN    NaN   NaN

Pos Sixth    T    Debut Since/LastApp BestPosition
4       7   50  1931-32       1987-88            1
6       6   32  1934-35       2001-02            1
9       4   18  1939-40       2012-13            2
10      4   14  1932-33       2015-16            1
11      1   12  1941-42       2014-15            1
12      5   11  1939-40       2012-13            4
13      1    3  1948-49       2013-14            4
15      1    7  1944-45       2015-16            2
16      2    6  1935-36       2016-17            4
17      1    2  1949-50       2008-09            4
18      4   11  1933-34       2000-01            3
19      1    5  1960-61       2012-13            3
20      1    5  1951-52       2015-16            2
22      2    2  1941-42       2016-17            6
23    NaN  NaN  1977-78       2015-16            8
24      1    2  1959-60       2014-15            5
26      4    5  1935-36       2010-11            5
27    NaN    2  1961-62       2009-10            5
28    NaN  NaN  1940-41       2007-08           11
29      1    1  1930-31       2016-17            6
30      1    1  1963-64       2015-16            6
31    NaN  NaN  1974-75       1998-99            7
32    NaN    2  1943-44       1987-88            4
33    NaN  NaN  1977-78       2005-06           12
35    NaN    3  1941-42       1990-91            4
38    NaN    1  1962-63       2014-15            5
40    NaN  NaN  1978-79       2008-09            8
41    NaN  NaN  1971-72       1979-80           12
42    NaN  NaN  1963-64       1969-70            7
47    NaN  NaN  1947-48       2006-07            7
50    NaN  NaN  1945-46       1950-51           10
51    NaN  NaN  1953-54       1957-58           14
53    NaN  NaN  1979-80       1980-81           10
55    NaN  NaN  1950-51       1993-94           16
58    NaN  NaN  1956-57       1956-57           16
59    NaN  NaN  1951-52       1951-52           16
60    NaN  NaN  1955-56       1955-56           15

In [77]:
##Print the list of teams which came Top 5 in terms of points

df.head(5)

Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [120]:
##Write a function with name â€œGoal_diff_countâ€ which should
##return all the teams with their Goal Differences.
##Using the same function,find the team which has maximum
##and minimum goal difference.

y=df  ##y is a copy of the same dataframe df (Laliga.cvv)
def Goal_diff_count():
    y['GoalDifferences']=y['GoalsFor'].astype(float)+y['GoalsAgainst'].astype(float)
    maxx=y[y['GoalDifferences']==y['GoalDifferences'].max()]
    minn=y[y['GoalDifferences']==y['GoalDifferences'].min()]
    print("\nThe team with the maximum Goal Differences :\n\n",maxx[['Team','GoalDifferences']])
    print("\nThe team with the minimum Goal Differences :\n\n",minn[['Team','GoalDifferences']])
    return y[['Team','GoalDifferences']]
Goal_diff_count()

The team with the maximum Goal Differences :

 Pos         Team  GoalDifferences
1    Real Madrid           9087.0

The team with the minimum Goal Differences :

 Pos     Team  GoalDifferences
56   Leganes             91.0

Pos                 Team  GoalDifferences
1            Real Madrid           9087.0
2              Barcelona           9014.0
3        Atletico Madrid           7843.0
4               Valencia           7867.0
5        Athletic Bilbao           8331.0
6                Sevilla           7053.0
7               Espanyol           7498.0
8          Real Sociedad           6458.0
9               Zaragoza           5530.0
10            Real Betis           4651.0
11   Deportivo La Coruna           4240.0
12            Celta Vigo           4902.0
13            Valladolid           3947.0
14      Racing Santander           4211.0
15        Sporting Gijon           3905.0
16               Osasuna           3334.0
17                Malaga           3184.0
18                Oviedo           3593.0
19              Mallorca           2553.0
20            Las Palmas           3093.0
21            Villarreal           1681.0
22               Granada           1976.0
23        Rayo Vallecano           1848.0
24                 Elche           1772.0
25                Getafe           1153.0
26              Hercules           1766.0
27              Tenerife           1363.0
28                Murcia           1599.0
29                Alaves           1081.0
30               Levante           1062.0
..                   ...              ...
32              Sabadell           1212.0
33                 Cadiz           1055.0
34              Logrones            780.0
35             Castellon           1007.0
36              Albacete            730.0
37               Almeria            610.0
38               Cordoba            715.0
39            Compostela            440.0
40            Recreativo            498.0
41             Burgos CF            526.0
42            Pontevedra            386.0
43              Numancia            408.0
44                 Eibar            306.0
45                Arenas            535.0
46           Real Burgos            240.0
47             Gimnastic            476.0
48           Extremadura            179.0
49                Merida            185.0
50              Alcoyano            397.0
51                  Jaen            304.0
52            Real Union            337.0
53            AD Almeria            187.0
54                Europa            228.0
55                Lleida            252.0
56               Leganes             91.0
57                 Xerez            104.0
58                Condal             94.0
59       Atletico Tetuan            136.0
60      Cultural Leonesa             99.0
61                Girona              NaN

[61 rows x 2 columns]

In [104]:
##Create a new column with name â€œWinning Percentâ€ and append it to
##the data set

y['Percentage of Winning']=100*(y['GamesWon'].astype(float)/y['GamesPlayed'].astype(float))
y.fillna(0)

Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,GoalDifferences,Percentage of Winning
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,...,8,8,3,4,79,1929,1929,1,9087.0,59.630702
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,...,12,12,4,6,83,1929,1929,1,9014.0,57.241130
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,...,16,9,7,6,56,1929,2002-03,1,7843.0,47.475134
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,...,10,11,10,7,50,1931-32,1987-88,1,7867.0,44.557057
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,...,10,5,8,10,49,1929,1929,1,8331.0,43.772629
6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,...,4,5,12,6,32,1934-35,2001-02,1,7053.0,41.112957
7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,...,4,5,2,5,16,1929,1994-95,3,7498.0,36.100533
8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,...,2,5,4,3,19,1929,2010-11,1,6458.0,37.532580
9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,...,4,5,4,4,18,1939-40,2012-13,2,5530.0,35.146022
10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,...,2,3,4,4,14,1932-33,2015-16,1,4651.0,35.069444
11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,...,4,1,0,1,12,1941-42,2014-15,1,4240.0,36.797386
12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,...,0,2,4,5,11,1939-40,2012-13,4,4902.0,34.511190
13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,...,0,1,1,1,3,1948-49,2013-14,4,3947.0,31.582538
14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,...,1,2,0,1,5,1929,2011-12,2,4211.0,31.722689
15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,...,1,2,2,1,7,1944-45,2015-16,2,3905.0,32.304527
16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,...,0,2,2,2,6,1935-36,2016-17,4,3334.0,32.321700
17,Malaga,36,1314,1255,390,330,535,1421,1763,0,...,0,1,0,1,2,1949-50,2008-09,4,3184.0,31.075697
18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,...,3,2,2,4,11,1933-34,2000-01,3,3593.0,34.228188
19,Mallorca,27,1148,988,333,256,399,1182,1371,0,...,2,0,2,1,5,1960-61,2012-13,3,2553.0,33.704453
20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,...,1,1,1,1,5,1951-52,2015-16,2,3093.0,33.485401
21,Villarreal,17,970,646,266,172,208,892,789,0,...,1,2,3,2,9,1998-99,2013-14,2,1681.0,41.176471
22,Granada,23,667,742,218,175,349,819,1157,0,...,0,0,0,2,2,1941-42,2016-17,6,1976.0,29.380054
23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,...,0,0,0,0,0,1977-78,2015-16,8,1848.0,28.987730
24,Elche,21,606,678,203,180,295,750,1022,0,...,0,0,1,1,2,1959-60,2014-15,5,1772.0,29.941003
25,Getafe,12,553,456,147,112,197,520,633,0,...,0,0,0,1,1,2004-05,2015-16,6,1153.0,32.236842
26,Hercules,20,538,628,184,149,295,716,1050,0,...,0,0,1,4,5,1935-36,2010-11,5,1766.0,29.299363
27,Tenerife,13,510,494,155,128,211,619,744,0,...,0,0,2,0,2,1961-62,2009-10,5,1363.0,31.376518
28,Murcia,18,445,586,145,143,298,607,992,0,...,0,0,0,0,0,1940-41,2007-08,11,1599.0,24.744027
29,Alaves,12,421,380,125,81,174,458,623,0,...,0,0,0,1,1,1930-31,2016-17,6,1081.0,32.894737
30,Levante,11,416,402,113,95,194,430,632,0,...,0,0,0,1,1,1963-64,2015-16,6,1062.0,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Sabadell,14,353,426,129,95,202,492,720,0,...,0,1,1,0,2,1943-44,1987-88,4,1212.0,30.281690
33,Cadiz,12,343,448,104,127,217,393,662,0,...,0,0,0,0,0,1977-78,2005-06,12,1055.0,23.214286
34,Logrones,9,293,346,96,92,158,291,489,0,...,0,0,0,0,0,1987-88,1996-97,7,780.0,27.745665
35,Castellon,11,285,334,103,79,152,419,588,0,...,0,1,2,0,3,1941-42,1990-91,4,1007.0,30.838323
36,Albacete,7,277,270,76,76,118,320,410,0,...,0,0,0,0,0,1991-92,2004-05,7,730.0,28.148148
37,Almeria,6,242,228,62,56,110,244,366,0,...,0,0,0,0,0,2007-08,2014-15,8,610.0,27.192982
38,Cordoba,9,230,282,82,63,137,285,430,0,...,0,0,1,0,1,1962-63,2014-15,5,715.0,29.078014
39,Compostela,4,190,160,52,45,63,199,241,0,...,0,0,0,0,0,1994-95,1997-98,10,440.0,32.500000
40,Recreativo,5,188,186,50,46,90,202,296,0,...,0,0,0,0,0,1978-79,2008-09,8,498.0,26.881720
41,Burgos CF,6,168,204,59,50,95,216,310,0,...,0,0,0,0,0,1971-72,1979-80,12,526.0,28.921569
42,Pontevedra,6,150,180,53,44,83,165,221,0,...,0,0,0,0,0,1963-64,1969-70,7,386.0,29.444444
43,Numancia,4,148,152,37,37,78,155,253,0,...,0,0,0,0,0,1999-00,2008-09,17,408.0,24.342105
44,Eibar,3,132,114,35,27,52,139,167,0,...,0,0,0,0,0,2014-15,2014-15,10,306.0,30.701754
45,Arenas,7,107,130,43,21,66,227,308,0,...,1,0,3,0,4,1929,1934-35,3,535.0,33.076923
46,Real Burgos,3,96,114,26,44,44,101,139,0,...,0,0,0,0,0,1990-91,1992-93,9,240.0,22.807018
47,Gimnastic,4,91,116,34,16,66,181,295,0,...,0,0,0,0,0,1947-48,2006-07,7,476.0,29.310345
48,Extremadura,2,83,80,20,23,37,62,117,0,...,0,0,0,0,0,1996-97,1998-99,17,179.0,25.000000
49,Merida,2,81,80,19,24,37,70,115,0,...,0,0,0,0,0,1995-96,1997-98,19,185.0,23.750000
50,Alcoyano,4,76,108,30,16,62,145,252,0,...,0,0,0,0,0,1945-46,1950-51,10,397.0,27.777778
51,Jaen,3,71,90,29,13,48,121,183,0,...,0,0,0,0,0,1953-54,1957-58,14,304.0,32.222222
52,Real Union,4,56,72,21,14,37,153,184,0,...,0,0,0,1,1,1929,1931-32,6,337.0,29.166667
53,AD Almeria,2,52,68,17,18,33,71,116,0,...,0,0,0,0,0,1979-80,1980-81,10,187.0,25.000000
54,Europa,3,42,54,18,6,30,97,131,0,...,0,0,0,0,0,1929,1930-31,8,228.0,33.333333
55,Lleida,2,40,68,13,14,41,70,182,0,...,0,0,0,0,0,1950-51,1993-94,16,252.0,19.117647
56,Leganes,1,35,38,8,11,19,36,55,0,...,0,0,0,0,0,2016-17,2016-17,17,91.0,21.052632
57,Xerez,1,34,38,8,10,20,38,66,0,...,0,0,0,0,0,2009-10,2009-10,20,104.0,21.052632
58,Condal,1,22,30,7,8,15,37,57,0,...,0,0,0,0,0,1956-57,1956-57,16,94.0,23.333333
59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,...,0,0,0,0,0,1951-52,1951-52,16,136.0,23.333333
60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,...,0,0,0,0,0,1955-56,1955-56,15,99.0,16.666667
61,Girona,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2017-18,2017-18,9,0.0,0.000000

In [138]:
##Group teams based on their â€œBest positionâ€ and print the sum of
##their points for all positions


y['BestPosition']=y['BestPosition'].astype(int)
y['Points'].fillna(0)
y['Points']=y['Points'].astype(float)
y['Points'].groupby([y['BestPosition']]).sum()

BestPosition
1     27933.0
2      6904.0
3      5221.0
4      6563.0
5      1884.0
6      2113.0
7      1186.0
8      1134.0
9        96.0
10      450.0
11      445.0
12      511.0
14       71.0
15       14.0
16       81.0
17      266.0
19       81.0
20       34.0
Name: Points, dtype: float64